table, th {
	padding:10px;
	border: 1px solid black;
}
table{
	border-collapse: collapse;
}
h1{
	color: #F08080;
	font-family: Georgia;
}
h2{
	color: #AF7AC5;
	font-family: Georgia;
}
h3{
	font-size: 20px;
	font-family: Georgia;
	color:   #0099CC;
}
h4{
	font-size: 20px;
	font-family: Georgia;
	color:   #0099CC;
}
body{
	background-image: url("http://hdflowerwallpaper.com/wallpaper/2015/07/yellow-flower-wallpaper-4-free-hd-wallpaper.png")
}
